footer{
    min-height: 40vh;
    min-height: 40dvh;
    min-width: 100vw;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--textcolor);
    font-family: 'BlackSansa';
    flex-wrap: wrap;
}

footer h2{
    font-size: 40px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.footer-menu{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-left: 4px solid var(--textcolor) ;
}
.footer-menu p{
    text-decoration: underline;
}
.footer-menu > *{
    margin: 10px 0px;
    margin-right: 150px;
    margin-left: 20px;
}