nav{
    top:0;
    left: 0;
    min-width: 100vw;
    height: 10dvh;
    /* background-color: rgba(255, 255, 255, 0.177);
    backdrop-filter: blur(5px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    z-index: 1000;
}

#logo{
border-radius: 50px;
mix-blend-mode: difference;
z-index: 1000;
cursor: pointer;
color: var(--textcolor);
padding-top: 10px;
font-size: 50px;
overflow: visible;
}

#logo div {
    font-family: 'manuscrit';
    padding: 0;
    line-height: 1rem;
    text-align: center;
    overflow: visible;
}

#burger-btn{
    position: relative;
    overflow: hidden;
    z-index: 100;   
    cursor: pointer;
    color: var(--textcolor);
}

.menu-btn{
    font-size: 5vw;
    font-family: 'climateCrisis';
}

.menu-btn-active{
    background: rgb(29,121,9);
    background: linear-gradient(90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--textcolor);
}

/* #burger-btn span{
    position: absolute;
    height: 3px;
    width: 40px;
    top: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    transform: translate(-50%,-50%);
    background-blend-mode: difference;
} */

#burger-btn span{

}

#burger-btn span:nth-child(1){
    top: 40%;
}

#burger-btn span:nth-child(2){
    top: 60%;
}


@media (max-width: 701px) {
    
    #logo{
        font-size: 20px;
    }
}