:root {
  --textcolor:black;
  --bg : linear-gradient(to right bottom, #ffe5c8, #f2e3c0, #e3e1ba, #d3dfb7, #c1ddb7);
  --bg:linear-gradient(
    45deg,
    hsl(32deg 100% 84%) 1%,
    hsl(32deg 100% 95%) 51%,
    hsl(32deg 100% 95%) 49%,
    hsl(32deg 100% 84%) 99%
    );
  --bg :linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(255,228,197,1) 100%);
  --rasta-bg: linear-gradient(90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --titlecolor : white;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
}


/* Fonts */
@font-face {
  font-family: "Grandstander-variable";
  src: url(".././public/fonts/Grandstander-VariableFont_wght.ttf")
}

@font-face {
  font-family: "cubao";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/CubaoFree2-SemiCondensed.ttf')
}

@font-face {
  font-family: "cubaoUltra";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/CubaoFree2-UltraCondensed.ttf')
}


@font-face {
  font-family: "climateCrisis";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf')
}

@font-face {
  font-family: "Afronic";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/Afronik-ExtraBold.otf')
}

@font-face {
  font-family: "BlackSansa";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/BlackSansaFree-Regular.otf')
}

@font-face {
  font-family: "manuscrit";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/tuesdaynight-regular.otf')
}

h1{
  font-family: 'climateCrisis';
  font-size: 70px;
  width: 100%;
  text-align: center;
}

/* .page-title{
  mix-blend-mode: none;
  font-size: 12vw;
  background: rgb(29,121,9);
  background: linear-gradient(90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2vw var(--textcolor);
} */

.page-title{
  mix-blend-mode: none;
  font-size: 12vw;
  letter-spacing: 4px;
  /* Warning: no fallback */
  background: -webkit-linear-gradient(-90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px black;
  -webkit-text-stroke: 12px transparent;
  color: var(--titlecolor);
}


p{
  font-size: xx-large;
  font-family: "Grandstander-variable";
}

a,button{
  cursor: pointer;
}
@import url('layouts/layout.css');
@import url('hero.css');
@import url('contents/intro.css');
@import url('contents/about.css');
@import url("ui/ui.css");
@import url('pages/page.css');

@media (prefers-color-scheme: dark) {
  :root {
    --textcolor:white;
    --titlecolor : black;
    --bg:radial-gradient(circle, #000000, #1a1210, #281f17, #312e1c, #30402a);
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
main{
  width:100%;
  background-image: var(--bg);
  min-height:100vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--textcolor);
}
a:visited{
  color: var(--textcolor);
}

button{
  background-color: none;
  text-decoration: none;
  text-indent: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
