:root {
  --textcolor:black;
  --html : white;
  --bg : linear-gradient(to right bottom, #ffe5c8, #f2e3c0, #e3e1ba, #d3dfb7, #c1ddb7);
  --bg:linear-gradient(
    45deg,
    hsl(32deg 100% 84%) 1%,
    hsl(32deg 100% 95%) 51%,
    hsl(32deg 100% 95%) 49%,
    hsl(32deg 100% 84%) 99%
    );
  --bg :linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(255,228,197,1) 100%);
  
  --rasta-bg: linear-gradient(90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);
  --rasta-bg: linear-gradient(90deg, #709255 0%, #FFE787 50%, #EF233C 100%);
  --max-width: 1100px;
  --border-radius: 12px;
  --titlecolor : #ffe5c8;
  --color1 : #d83e00;
}


/* Fonts */
@font-face {
  font-family: "Grandstander-variable";
  src: url(".././public/fonts/Grandstander-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "cubao";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/CubaoFree2-SemiCondensed.ttf');
  font-display: swap;
}

@font-face {
  font-family: "cubaoUltra";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/CubaoFree2-UltraCondensed.ttf');
  font-display: swap;
}


@font-face {
  font-family: "climateCrisis";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf');
  font-display: swap;
}

@font-face {
  font-family: "Afronic";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/Afronik-ExtraBold.otf');
  font-display: swap;
}

@font-face {
  font-family: "BlackSansa";
  /* src: url("/sawuri-next/public/fonts/CubaoFree2-SemiCondensed.ttf") */
  src: url('.././public/fonts/BlackSansaFree-Regular.otf');
  font-display: swap;
}

h1{
  font-family: 'climateCrisis';
  font-size: 70px;
  width: 100%;
  text-align: center;

}

/* .page-title{
  mix-blend-mode: none;
  font-size: 12vw;
  background: rgb(29,121,9);
  background: linear-gradient(90deg, rgba(29,121,9,1) 0%, rgba(190,198,28,1) 34%, rgba(255,222,0,1) 50%, rgba(240,180,2,1) 68%, rgba(179,10,10,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2vw var(--textcolor);
} */

.page-title{
  mix-blend-mode: none;
  font-size: 10vw;
  letter-spacing: 4px;
  /* Warning: no fallback */
  background: -webkit-var(--rasta-bg);
  background: var(--rasta-bg);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.15em transparent;
  color: var(--titlecolor);

}


.text-container li, p{
  font-size: xx-large;
  font-family: "Grandstander-variable";
  color: var(--textcolor);
}

h2,h3{
  color: var(--textcolor);
}

a,button{
  cursor: pointer;
}


/* @media (prefers-color-scheme: dark){}*/
[data-theme="dark"]{
    --html : black;
    --textcolor:white;
    --titlecolor : black;
    --bg:radial-gradient(circle, #000000, #1a1210, #281f17, #312e1c, #30402a);
  }


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--html);
}
main{
  width:100%;
  background-image: var(--bg);
  min-height:100vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--textcolor);
}
a:visited{
  color: var(--textcolor);
}

button{
  background-color: none;
  text-decoration: none;
  text-indent: 0;
  color: var(--textcolor);
}

@import url('layouts/layout.css');
@import url('hero.css');
@import url('contents/intro.css');
@import url('contents/about.css');
@import url('pages/page.css');
@import url("ui/ui.css");

