.about{
    width: 100%;
    min-height:100vh;
}

.about h2{
    width: 100%;
    text-align: center;
    font-family: 'climateCrisis';
    position: absolute;
    top: 100px;
}

.about-section{
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    margin: 200px 0;
    padding-top: 300px ;

}

.about .text-container{
    width: 60%;
    min-height: 100%;
   padding: 20px;
}

.about .text-box{
    position: relative;
    width: 100%;
    margin: 40px 0;
}

.about p{
    font-size: 20px;
    font-family: "Grandstander-variable";
    line-height: 4rem;
    opacity:0;
}

.about-img-layout{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.about-img-limiter{
    width:100%;
    height: 20%;
    position: relative;
    opacity: 0;
    transform: rotateX(63deg) rotateY(44deg);
}

@media (max-width: 700px) {

    .about .text-container{
        width: 98%;
    }
    
    .about-img-layout{
        width: 80%;
        position: absolute;
        justify-content:start;
    }
}