.intro{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.intro p{
    padding: 50px 4vw ;
    font-size: xx-large;
    position: absolute;
    line-height: 4rem;
    opacity: 0;
    width: 100vw;
    left: 0;
}

@media (max-width: 800px) {
    
    .intro p{
        font-size: 20px;
    }
}