.contact-page{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;

}



#contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

#contact-form input, textarea, #contact-form button{
    max-width: 700px;
    width: 100%;
    padding:10px 0px;
    border-bottom: 4px solid var(--textcolor);
    font-size: xx-large;
    margin: 20px 0px;
    font-family: "Grandstander-variable";
    color: var(--textcolor);
}

#contact-form input{
    height: 50px;
}

#contact-form textarea{
    color: var(--textcolor);
}

#contact-form  #submit{
    max-width: 200px;
    border: 4px solid var(--textcolor);
    padding:0px;
    text-align: center;
    color: var(--textcolor);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

#contact-form #submit:hover{
    letter-spacing: 5px;
    font-size: xx-large;
    font-weight: 900;
}


.sending{
    transition: 0.3s;
    overflow: hidden;
}

.sending:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.372);
     animation: sendAnim 3s infinite; 
} 

@keyframes sendAnim {

    0%{
        left: -100%;
    }

    50%{
        left:100%;
    }
    
    100%{
        left: -100%;
    }
}